@require "variables"
@require 'includes/utils'

if $includeMain
  @require "includes/main"

@require "includes/alert"
@require "includes/align"
@require "includes/bg"
@require "includes/size"
@require "includes/border"
@require "includes/badge"
@require "includes/breadcrumb"
@require "includes/btn"
// @require "includes/btnDanger"
// @require "includes/btnDark"
// @require "includes/btnDrop"
// @require "includes/btnGroup"
// @require "includes/btnInfo"
// @require "includes/btnLight"
// @require "includes/btnLink"
// @require "includes/btnMsc"
// @require "includes/btnOutlineDanger"
// @require "includes/btnOutlineDark"
// @require "includes/btnOutlineInfo"
// @require "includes/btnOutlineLight"
// @require "includes/btnOutlinePrimary"
// @require "includes/btnOutlineSecondary"
// @require "includes/btnOutlineSuccess"
// @require "includes/btnOutlineWarning"
// @require "includes/btnPrimary"
// @require "includes/btnSecondary"
// @require "includes/btnSuccess"
// @require "includes/btnWarning"
// @require "includes/card"
// @require "includes/carousel"
// @require "includes/close"
// @require "includes/col"
// @require "includes/container-fluid"
// @require "includes/container"
// @require "includes/custom"
// @require "includes/d"
// @require "includes/display"
// @require "includes/embed"
// @require "includes/flex"
// @require "includes/float"
// @require "includes/fonts"
// @require "includes/formControl"
// @require "includes/helpers"
// @require "includes/input"
// @require "includes/jumbotron"
// @require "includes/justify"
// @require "includes/listGroup"
// @require "includes/media"
// @require "includes/mediaPrint"
// @require "includes/modal"
// @require "includes/nav"
// @require "includes/noGutters"
// @require "includes/order"
// @require "includes/pagination"
// @require "includes/popover"
// @require "includes/position"
// @require "includes/progress"
// @require "includes/rounded"
// @require "includes/row"
// @require "includes/table"
// @require "includes/taxonomy"
// @require "includes/text"
// @require "includes/tooltip"
// @require "includes/visible"
