
// colors
$primary := #007bff
$primaryHov := darken($primary, 11%)
$primaryBtnHov := darken($primary, 8%)
$primaryShadow := alpha($primary, 0.5)
// $primaryShadow := alpha($primary, 0.5)
$secondary := #868e96
$secondaryHov := darken($secondary, 11%)
$secondaryBtnHov := darken($secondary, 8%)
$secondaryShadow := alpha($secondary, 0.5)
$success := #28a745
$successHov := darken($success, 11%)
$successBtnHov := darken($success, 8%)
$successShadow := alpha($success, 0.5)
$info := #17a2b8
$infoHov := darken($info, 11%)
$infoBtnHov := darken($info, 8%)
$infoShadow := alpha($info, 0.5)
$warning := #ffc107
$warningHov := darken($warning, 11%)
$warningBtnHov := darken($warning, 8%)
$warningShadow := alpha($warning, 0.5)
$danger := #dc3545
$dangerHov := darken($danger, 11%)
$dangerBtnHov := darken($danger, 8%)
$dangerShadow := alpha($danger, 0.5)
$light := #f8f9fa
$lightHov := darken($light, 11%)
$lightBtnHov := darken($light, 8%)
$lightShadow := alpha($light, 0.5)
$dark := #343a40
$darkHov := darken($dark, 11%)
$darkBtnHov := darken($dark, 8%)
$darkShadow := alpha($dark, 0.5)

$white := white
$black := black

$bodyColor := $black
if light($bodyColor)
  $linkColor := darken($bodyColor, 60%)
else
  $linkColor := lighten($bodyColor, 60%)
$bodyBackground := $white

//grid breakpoints
$grid-sm := 576px
$grid-md := 768px
$grid-lg := 992px
$grid-xl := 1200px

//container-max-size
$container-sm := 540px
$container-md := 720px
$container-lg := 960px
$container-xl := 1140px

//fonts
$font-weight-light := 300
$font-weight-normal := normal
$font-weight-bold := bold

$font-family-base := -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
$font-family-monospace :=  "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

$h1-font-size := 2.5rem
$h2-font-size := 2rem
$h3-font-size := 1.75rem
$h4-font-size := 1.5rem
$h5-font-size := 1.25rem
$h6-font-size := 1rem

//display
$display1-size := 6rem
$display2-size := 5.5rem
$display3-size := 4.5rem
$display4-size := 3.5rem

$display1-weight := $font-weight-light
$display2-weight := $font-weight-light
$display3-weight := $font-weight-light
$display4-weight := $font-weight-light

// some border specific variables
// these set up a default border that will be used
// if you simply call border()
$default-border-size := 1px
$default-border-type := solid
$default-border-color := $primary
$default-border := $default-border-size $default-border-type $default-border-color
