align(-args = center, $width = null)
  if $width
    display: block
    width: $width
  if 'top' in -args or 'start' in -args
    -ms-flex-item-align: flex-start !important
    align-self: start !important
  else if 'bottom' in -args or 'end' in -args
    -ms-flex-item-align: flex-end !important
    align-self: end !important
  else if 'center' in -args
    align-self: center !important
  if -args is 'start' or -args is 'end'
    align-self convert(s('flex-%s', -args)) !important
  else
    align-self unquote(arguments) !important

align-self-sm(-args = center)
  @media (min-width: $grid-sm)
    align(-args)

align-self-md(-args = center)
  @media (min-width: $grid-md)
    align(-args)

align-self-lg(-args = center)
  @media (min-width: $grid-lg)
    align(-args = center)

align-self-xl(-args = center)
  @media (min-width: $grid-xl)
    align(-args)
