// This makes alignment always useful by changing the display type of both this element and it's parent when not dealing with an image.

// align($type = null)
//   unless match('\simg', selector())
//     display: table-cell
//     ../
//       display: table
//   if $type
//     vertical-align: arguments !important
getAlignY($arg)
  if $arg is 'top'
    align-items: flex-start
  else if $arg is 'bottom'
    align-items: flex-end
  else
    align-items: unquote($arg)

getJustY($arg)
  if $arg is 'top'
    justify-content: flex-start
  else if $arg is 'bottom'
    justify-content: flex-end
  else
    justify-content: unquote($arg)

getAlignX($arg)
  if $arg is 'left'
    align-items: flex-start
  if $arg is 'right'
    align-items: flex-end
  else
    align-items: unquote($arg)

getJustX($arg)
  if $arg is 'left'
    justify-content: flex-start
  else if $arg is 'right'
    justify-content: flex-end
  else
    justify-content: unquote($arg)

alignSelfX($arg)
  if $arg is 'left'
    align-self: flex-start
  else if $arg is 'right'
    align-self: flex-end
  else
    align-self: unquote($arg)

alignSelfY($arg)
  if $arg is 'top'
    align-self: flex-start
  else if $arg is 'bottom'
    align-self: flex-end
  else
    align-self: unquote($arg)

align($args = center, $mode = container)
  // first determine if we are in self or container mode
  if $mode is 'self'
    // self mode
    if $args[0] in ('left' 'right')
      alignSelfX($args[0])
    else
      alignSelfY($args[0])
  else
    // container mode
    display: flex
    flex-wrap: wrap
    if $args[0] in ('right' 'left')
      flex-direction: column
      getAlignX($args[0])
      if $args[1]
        getJustY($args[1])
    else if $args[0] in ('top' 'bottom')
      flex-direction: row
      getAlignY($args[0])
      if $args[1]
        getJustY($args[1])
    else if $args[0] is 'center'
      if $args[1]
        if $args[1] in ('top' 'bottom')
          flex-direction: column
          getAlignX($args[0])
          getJustY($args[1])
        else if $args[1] in ('left' 'right')
          flex-direction: row
          getAlignY($args[0])
          getJustX($args[1])
        else if $args[1] is 'column'
          flex-direction: column
          getAlignX(center)
          getJustY(center)
        else if $args[1] is 'row'
          // assume center row
          getAlignY(center)
          getJustX(center)
      else
        // assume center
        getAlignY(center)
        getJustX(center)

align-sm($args = center, $mode = container)
  @media (max-width: $grid-sm)
    align($args, $mode)

align-md($args = center, $mode = container)
  @media (min-width: $grid-sm) and (max-width: $grid-md)
    align($args, $mode)

align-lg($args = center, $mode = container)
  @media (min-width: $grid-md) and (max-width: $grid-lg)
    align($args, $mode)

align-xl($args = center, $mode = container)
  @media (min-width: $grid-lg) and (max-width: $grid-xl)
    align($args, $mode)

align-xlplus($args = center, $mode = container)
  @media (min-width: $grid-xl)
    align($args, $mode)
