align-self(--type = center)
  -ms-flex-item-align replace('flex-', '', --type) !important
  if --type is 'start' or --type is 'end'
    align-self convert(s('flex-%s', --type)) !important
  else
    align-self unquote(arguments) !important

align-self-sm(--type = center)
  @media (min-width: --grid-sm)
    align-self(--type)

align-self-md(--type = center)
  @media (min-width: --grid-md)
    align-self(--type)

align-self-lg(--type = center)
  @media (min-width: --grid-lg)
    align-self(--type = center)

align-self-xl(--type = center)
  @media (min-width: --grid-xl)
    align-self(--type)
