align-self(--type)
  -ms-flex-item-align replace('flex-', '', --type) !important
  if --type is 'start' or --type is 'end'
    align-self flex-{--type}
  else
    align-self --type !important

align-self-sm(--type)
  @media (min-width: --grid-sm)
    align-self(--type)

align-self-md(--type)
  @media (min-width: --grid-md)
    align-self(--type)

align-self-lg(--type)
  @media (min-width: --grid-lg)
    align-self(--type)

align-self-xl(--type)
  @media (min-width: --grid-xl)
    align-self(--type)
