align-content(--type)
  -ms-flex-line-pack replace('flex-', '', --type) !important
  if --type is 'start' or --type is 'end'
    align-content flex-{--type} !important
  else
    align-content --type !important

align-content-sm(--type)
  @media (min-width: --grid-sm)
    align-content(--type)

align-content-md(--type)
  @media (min-width: --grid-md)
    align-content(--type)

align-content-lg(--type)
  @media (min-width: --grid-lg)
    align-content(--type)

align-content-xl(--type)
  @media (min-width: --grid-xl)
    align-content(--type)
