badge($types...)
  display inline-block
  padding 0.25em 0.4em
  font-size 75%
  font-weight $font-weight-bold
  line-height 1
  color $white
  text-align center
  white-space nowrap
  vertical-align baseline
  border-radius 0.25rem
  &:empty
    display none
  for $type in $types
    if $type is 'btn'
      position relative
      top -1px

    else if $type is 'pill'
      padding-right 0.6em
      padding-left 0.6em
      border-radius 10rem

    else if $type is 'primary'
      color $white
      background-color $primary
      &[href]:focus
      &[href]:hover
        color $white
        text-decoration none
        background-color $primaryHov

    else if $type is 'secondary'
      color $white
      background-color $secondary
      &[href]:focus
      &[href]:hover
        color $white
        text-decoration none
        background-color $secondaryHov

    else if $type is 'success'
      color $white
      background-color $success
      &[href]:focus
      &[href]:hover
        color $white
        text-decoration none
        background-color $successHov

    else if $type is 'info'
      color $white
      background-color $info
      &[href]:focus
      &[href]:hover
        color $white
        text-decoration none
        background-color $infoHov

    else if $type is 'warning'
      color #111
      background-color $warning
      &[href]:focus
      &[href]:hover
        color #111
        text-decoration none
        background-color $warningHov

    else if $type is 'danger'
      color $white
      background-color $danger
      &[href]:focus
      &[href]:hover
        color $white
        text-decoration none
        background-color $dangerHov

    else if $type is 'light'
      color #111
      background-color $light
      &[href]:focus
      &[href]:hover
        color #111
        text-decoration none
        background-color $lightHov

    else if $type is 'dark'
      color $white
      background-color $dark
      &[href]:focus
      &[href]:hover
        color $white
        text-decoration none
        background-color $darkHov
    else if $type is a 'rgba'
      color: invert($type)
      background-color: $type
      &[href]:focus
      &[href]:hover
        background-color: highlight($type)
