badge(--types)
  display inline-block
  padding 0.25em 0.4em
  font-size 75%
  font-weight --font-weight-bold
  line-height 1
  color --white
  text-align center
  white-space nowrap
  vertical-align baseline
  border-radius 0.25rem
  &:empty
    display none
  if 'btn' in --types
    position relative
    top -1px

  if 'pill' in --types
    padding-right 0.6em
    padding-left 0.6em
    border-radius 10rem

  if 'primary' in --types
    color --white
    background-color --primary
    &[href]:focus
    &[href]:hover
      color --white
      text-decoration none
      background-color --primaryHov

  if 'secondary' in --types
    color --white
    background-color --secondary
    &[href]:focus
    &[href]:hover
      color --white
      text-decoration none
      background-color --secondaryHov

  if 'success' in --types
    color --white
    background-color --success
    &[href]:focus
    &[href]:hover
      color --white
      text-decoration none
      background-color --successHov

  if 'info' in --types
    color --white
    background-color --info
    &[href]:focus
    &[href]:hover
      color --white
      text-decoration none
      background-color --infoHov

  if 'warning' in --types
    color #111
    background-color --warning
    &[href]:focus
    &[href]:hover
      color #111
      text-decoration none
      background-color --warningHov

  if 'danger' in --types
    color --white
    background-color --danger
    &[href]:focus
    &[href]:hover
      color --white
      text-decoration none
      background-color --dangerHov

  if 'light' in --types
    color #111
    background-color --light
    &[href]:focus
    &[href]:hover
      color #111
      text-decoration none
      background-color --lightHov

  if 'dark' in --types
    color --white
    background-color --dark
    &[href]:focus
    &[href]:hover
      color --white
      text-decoration none
      background-color --darkHov
