badge()
  $flags = arguments or ('primary')

  display inline-block
  padding 0.25em 0.4em
  font-size 75%
  font-weight $font-weight-bold
  line-height 1
  color $white
  text-align center
  white-space nowrap
  vertical-align baseline
  border-radius 0.25rem
  &:empty
    display none

  if 'btn' in $flags
    position relative
    top -1px

  if 'pill' in $flags
    padding-right 0.6em
    padding-left 0.6em
    border-radius 10rem

  if 'primary' in $flags
    color $white
    background-color $primary
    &[href]:focus
    &[href]:hover
      color $white
      text-decoration none
      background-color $primaryHov

  else if 'secondary' in $flags
    color $white
    background-color $secondary
    &[href]:focus
    &[href]:hover
      color $white
      text-decoration none
      background-color $secondaryHov

  else if 'success' in $flags
    color $white
    background-color $success
    &[href]:focus
    &[href]:hover
      color $white
      text-decoration none
      background-color $successHov

  else if 'info' in $flags
    color $white
    background-color $info
    &[href]:focus
    &[href]:hover
      color $white
      text-decoration none
      background-color $infoHov

  else if 'warning' in $flags
    color #111
    background-color $warning
    &[href]:focus
    &[href]:hover
      color #111
      text-decoration none
      background-color $warningHov

  else if 'danger' in $flags
    color $white
    background-color $danger
    &[href]:focus
    &[href]:hover
      color $white
      text-decoration none
      background-color $dangerHov

  else if 'light' in $flags
    color #111
    background-color $light
    &[href]:focus
    &[href]:hover
      color #111
      text-decoration none
      background-color $lightHov

  else if 'dark' in $flags
    color $white
    background-color $dark
    &[href]:focus
    &[href]:hover
      color $white
      text-decoration none
      background-color $darkHov
  else if $type is a 'rgba'
    color: invert($type)
    background-color: $type
    &[href]:focus
    &[href]:hover
      background-color: highlight($type)
