
bg($back = $bodyBackground, $fore = $back is a 'rgba' ? invert($back) : $bodyColor, $hover = highlight($fore))
  if $back is a 'rgba'
    background-color: $back
  else if $back is a 'call'
    background: $back
  color: $fore
  a
    color: $fore
    &:focus
    &:hover
      color: $hover
