
bg(--type, --hover = null)
  if typeof(--type) is 'string'
    --type = unquote(--type)
  if typeof(--type) is 'rgba'
    background-color: --type
  else if --type is 'white'
    background-color: --white !important
  else if --type is 'transparent'
    background-color: transparent !important
  else
    background-color convert(s('--%s', --type)) !important
    a&:focus
    a&:hover
      background-color convert(s('--%sHov', --type)) !important
  if typeof(--hover)
    a&:focus
    a&:hover
      background-color: --hover
