border($args...)
  // start building the result
  $size = $default-border-size
  $type = $default-border-type
  $color = $default-border-color
  $locations = ()

  for $arg in $args

    if $arg in ('primary' 'secondary' 'success' 'info' 'warning' 'danger' 'light' 'dark' 'white')
      $color = parse($arg)
    else if $arg is a 'rgba'
      $color = $arg
    else if $arg in (top bottom right left)
      push($locations, $arg)
    else if $arg is a 'unit' // asume they mean size
      $size = $arg
    else if $arg
      $type = $arg
  if length($locations) > 0
    for $location in $locations
      if $size is 0
        parse($location, ': 0 !important;', 'border-')
      else
        parse($location, ':', 'border-') parse($size) parse($type) parse($color)
  else
    if $size is 0
      border: 0 !important
    else
      border: $size $type $color !important


  // set-border()
  // /*  border 1px solid #e9ecef !important */

  // set-border(0)
  // /*  border 0 !important */

  // set-border(top 0)
  // /*  border-top 0 !important */

  // set-border(right 0)
  // /*  border-right 0 !important */

  // set-border(bottom 0)
  // /*  border-bottom 0 !important */

  // set-border(left 0)
  // /*  border-left 0 !important */

  // set-border(primary)
  // /*  border-color $primary !important */

  // set-border(secondary)
  // /*  border-color $secondary !important */

  // set-border(success)
  // /*  border-color $success !important */

  // set-border(info)
  // /*  border-color $info !important */

  // set-border(warning)
  // /*  border-color $warning !important */

  // set-border(danger)
  // /*  border-color $danger !important */

  // set-border(light)
  // /*  border-color $light !important */

  // set-border(dark)
  // /*  border-color $dark !important */

  // set-border('white') // note the quotes!
  // /*  border-color $white !important */
