btn()
  // PARSE ARGUMENTS
  $flags = ()
  // get the name of this class
  $this = split(' ', unquote(selector()))[-1]
  if arguments is a 'object'
    // get classnames
    for $key, $value in arguments
      if $key is 'focusClass'
        $focusClass = $value
      else if $key is 'disabledClass'
        $disabledClass = $value
      else if $key is 'activeClass'
        $activeClass = $value
  else
    for $value in arguments
      if $value is a 'object'
        for $key, $class in $value
          if $key is 'focusClass'
            $focusClass = $class
          else if $key is 'disabledClass'
            $disabledClass = $class
          else if $key is 'activeClass'
            $activeClass = $class
      else
        push($flags, $value)

  $focusClass := 'focus'
  $disabledClass := 'disabled'
  $activeClass := 'active'
  content: $focusClass $disabledClass $activeClass
  // END ARGUMENT PARSE

  display inline-block
  font-weight $font-weight-normal
  text-align center
  white-space nowrap
  vertical-align middle
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  border 1px solid transparent
  padding 0.5rem 0.75rem
  font-size 1rem
  line-height 1.25
  border-radius 0.25rem
  transition all 0.15s ease-in-out

  &:focus
  &:hover
    text-decoration none

  &:focus
  &.{$focusClass}
    outline 0
    box-shadow 0 0 0 3px rgba(0, 123, 255, 0.25)

  &:disabled
  &.{$disabledClass}
    opacity .65

  &:active
  &.{$activeClass}
    background-image none

  a{$this}.disabled
  fieldset[disabled] a{$this}
    pointer-events none

  if 'lg' in $flags
    padding 0.5rem 1rem
    font-size 1.25rem
    line-height 1.5
    border-radius 0.3rem

  if 'sm' in $flags
    padding 0.25rem 0.5rem
    font-size 0.875rem
    line-height 1.5
    border-radius 0.2rem

  if 'block' in $flags
    display block
    width 100%
    & + &
      margin-top 0.5rem
