setSize($width = auto, $height = auto, $maxWidth = none, $maxHeight = none)
  if ($width is a 'unit') and (not unit($width))
    $width = unit($width, px)
  if ($height is a 'unit') and (not unit($height))
    $height = unit($height, px)
  if ($maxWidth is a 'unit') and (not unit($maxWidth))
    $maxWidth = unit($maxWidth, px)
  if ($maxHeight is a 'unit') and (not unit($maxHeight))
    $maxHeight = unit($maxHeight, px)
  if $max-width in ('fill-available' 'fit-content')
    max-width: parse($maxWidth, '', '-moz-')
    max-width: parse($maxWidth, '', '-webkit-')
  max-width: $maxWidth
  max-height: $maxHeight
  width: $width
  height: $height
