setSize($width = none, $height = auto)
  if ($width is a 'unit') and (not unit($width))
    $width = unit($width, px)
  if ($height is a 'unit') and (not unit($height))
    $height = unit($height, px)
  if $width in ('fill-available' 'fit-content')
    max-width: parse($width, '', '-moz-')
    max-width: parse($width, '', '-webkit-')
  max-width: $width
  height: $height
